html, body, header, nav, h1, li, li, div, main, button{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;

}


body {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: auto;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /*color: white;*/
}

/* Clock*/
div.clock {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 100px;
  background-color: rgb(234,108,112);
  -webkit-box-align: center;
  -webkit-align-items: center;
  border: 2px solid black;
  padding: 10px;

}

div.weather {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  background-color: rgb(208,99,203);
  -webkit-box-align: center;
  -webkit-align-items: center;
  border: 2px solid black;
  padding: 10px;
}

div.clock ul {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  /*align-content: space-around;*/
  /*display: inline-flex;*/
  /*justify-content: flex-end;*/
  list-style: none;
  font-size: 24px;
  padding: 10px;
}

div.weather ul {
  font-family: 'Montserrat', sans-serif;
  /*font-weight: bold;*/
  color: white;
  list-style: none;
  font-size: 24px;
  padding: 10px;
  /*-webkit-box-align: center;
  -webkit-align-items: center;*/
}

/*li.location{
  padding: 15px;
}*/

/*li.weather_value{
  padding: : 15px;
}*/

ul.weather li{
  padding: 10px;
}

li.date {
  padding: 10px;

}

li.date_value {
  /*justify-content: flex-end;*/
  padding: 10px;
}
