<h2>Edit Band</h2>
<form action="<%=band_url(@band)%>" method="post">
  <%= auth_token %>
  <br>
  <input type="hidden" name="_method" value="patch">
  <label>Band Name
    <input type="text" name="band[name]" value="<%=@band.name%>">
  </label>
  <br>
  <input type="submit" value="update band">

</form>
