<h2>Bands</h2>

<ul>
  <% @bands.each do |band| %>
  <li>
    <%= band.name %>
    <%= button_to "Delete the band", band_url(band), method: :delete%>
  </li>
  <% end %>
</ul>
<%= link_to 'New Band', new_band_url %>
