<h1>New Comment</h1>

<form class="" action="<%=comments_url  %>" method="post">
  <%= auth %>
  <input type="hidden" name="comment[post_id]" value="<%=params[:post_id]%>">

  <label>Cotent
    <input type="text" name="comment[content]" value="">
  </label>
  <br>

  <input type="submit" name="" value="Add New Comment">
</form>

<%= link_to Post.find_by(id: params[:post_id]).title, post_url(params[:post_id]) %>
