<h1>New Sub</h1>

<form class="" action="<%=subs_url  %>" method="post">
  <%= auth %>
  
  <label>Title
    <input type="text" name="sub[title]" value="">
  </label>
  <br>

  <label>description
    <input type="text" name="sub[description]" value="">
  </label>
  <input type="submit" name="" value="Create New Sub">
</form>
